@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto&display=swap');

.main-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}

.firstBlock {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.userPhoto {
    border-radius: 8px;
    width: 0.729in;
    height: 0.958in;
}

.fio {
    margin-left: 0.16in;
    font-family: 'Roboto', sans-serif;
    width: 2.27in;
    font-weight: 400;
    text-align: start;
    font-size: 16px;
    line-height: 24px;
}

.expired_block {
    display: flex;
    border-radius: 8px;
    padding: 8px 12px 8px 13.67px;
    background-color: #FEF1F1;
    text-align: start;
}

.expired_text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.info_icon {
    background: url('../img/info-circle.png') no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 9.67px;
}

.qrBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0 40px 0;
    width: 3.416in;
    margin-bottom: 16px;
    box-shadow: 0px 0px 20px rgba(21, 43, 71, 0.1);
}

.qrText {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 17px;
}

.text {
    font-family: 'Open Sans', sans-serif;
}

.text-dec {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form_radio_group {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 3.416in;
}

.form_radio_group input[type=radio] {
    font-family: 'Inter', sans-serif;
    display: none;
}

.form_radio_group label {
    display: inline-block;
    text-align: center;
    width: 150px;
    cursor: pointer;
    padding: 10px 15px;
    font-family: 'Inter';
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 13px;
    line-height: 20px;
    border: none;
    border-bottom: 2.5px solid #d4d6d6;
    color: #656F70;
    user-select: none;
    transition: color 0.3s, background 0.3s, border-color 0.3s, box-shadow 0.3s;
}

/* Checked */
.form_radio_group input[type=radio]:checked + label {
    border-color: #007480;
    color: #007480;
}

.form_radio_group input[type=radio]:checked + label:hover {
    color: #007480;
}

/* Hover */
.form_radio_group label:hover {
    border-color: #007480;
    color: #007480;
}

.button {
    transform: scale(1);
}

.button notActive {
    transform: scale(0);
}

.ant-btn {
    align-items: center;
    background-color: #e9f4f5;
    border-radius: 12px;
    display: inline-flex;
    font-size: 12px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    line-height: 1.5;
    padding: 0 32px;
    letter-spacing: 0.1px;
    margin-top: 50px;
    width: 190px;
    outline: none;
}


.ant-btn:hover {
    text-align: center;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    user-select: none;
    white-space: nowrap;
    touch-action: manipulation;
}

.btn-primary {
    color: #1b1d1d;
    background-color: #ffcc00;
}

.btn-primary:hover {
    background-color: #f5c400;
}

.link {
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    font-size: 14px;
    color: #007d82;
}

@media (min-width: 200px) and (max-width: 299px) {
    .qrBlock {
        width: 2.8in;
    }
    .form_radio_group {
        width: 2.8in;
    }
}

@media(min-width: 300px) {
    .qrBlock {
        width: 3.1in;
    }
    .form_radio_group {
        width: 3.1in;
    }
}

@media( min-width:350px) and ( max-width: 499px) {
    .qrBlock {
        width: 3.416in;
    }
    .form_radio_group {
        width: 3.416in;
    }
}

@media (min-width: 500px) and (max-width: 700px) {
    .qrBlock {
        width: 3.7in;
    }
    .form_radio_group {
        width: 3.7in;
    }
}

@media (min-width: 701px) and (max-width: 1900px) {
    .qrBlock {
        width: 4in;
    }
    .form_radio_group {
        width: 4in;
    }
}