@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.menu-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-trigger {
    margin-top: 15px;
    width: 3.416in;
    height: 65px;
    background: #ffffff;
    border-radius: 8px 8px 0px 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(21, 43, 71, 0.1);
    transition: box-shadow 0.4s ease;
}

.menu_trigger_data {
    font-weight: bold;
}

.menu__left__icon {
    background: url('../img/Vector.png') no-repeat;
    width: 25px;
    height: 25px;
    margin: 20px 15px;
}

.menu__right__icon {
    text-align: center;
    line-height: 36px;
    width: 32px;
    height: 32px;
    background: #F2F5F5;
    color: #007480;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 12px;
}

.menu__right__icon:hover {
    background: #dfeef0;
    transition: all 0.3s
}

.menu {
    background: #ffffff;
    border-radius: 0 0 8px 8px;
    /*position: absolute;*/
    top: 85px;
    visibility: hidden;
    transform: translateY(-5px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.activemenu {
    visibility: visible;
    transform: translateY( 0);
}

.menu__items {
    text-decoration: none;
    color: #333333;
    padding: 10px 12px;
    display: block;
}

.menu__items span {
    color: #656F70;
    font-size: 14px;
}

.menu__items p {
    margin-top: 5px;
}

.result {
    color: #0C955D;
}

.btn__download {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 306px;
    height: 36px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    background: #FEDD2C;
    color: #13161B;
    cursor: pointer;
    text-decoration: none;
}

.btn__download:hover {
    background-color: #f5c400;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.donwload__icon {
    background: url('../img/download.png') no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.main-half {
    width: 3.416in;
    position: relative;
    margin-top: 15px;
    min-height: 337px;
}

.tab {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgb(21 43 71 / 10%);
    border-radius: 8px;
    /*transition: all 0.3s ease-out;*/
}

.tab input {
    position: absolute;
    z-index: -1;
    /*transition: all 0.3s ease-out;*/
}

.tab label {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 8px;
    color: black;
    padding: 20px 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.data {
    display: flex;
    flex-direction: column;
}

.data-text {
    color: #007480;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
}

.icon-left {
    margin-right: 15px;
    width: 25px;
    height: 25px;
}

.icon-right {
    margin-left: auto;
    border-radius: 50px;
    background-color: #F2F5F5;
    color: #007480;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*transition: all .3s ease;*/
}

.arrow {
    width: 32px;
    height: 32px;
}

.tab-content {
    max-height: 0;
    overflow: hidden;
    color: black;
}

.tab-content-items {
    text-align: start;
    padding: 14px 15px;
}

.tab-content-items span {
    line-height: 20px;
    font-size: 14px;
    color: #656F70;
    padding: 15px 0;
}

.result {
    line-height: 20px;
    margin-top: 10px;
    color: #0C955D;
}

.analise {
    line-height: 20px;
    margin-top: 10px;
}

.tab-content-btn {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.tab input:checked ~ .tab-content {
    max-height: 100vh;
    border-top: 1px solid #E8EDED;
}



.tab input[type=checkbox]:checked + label .icon-right{
    transform: rotate(180deg);
}

@media (min-width: 200px) and (max-width: 299px) {
    .main-half {
        width: 2.8in;
    }
}

@media(min-width: 300px) {
    .main-half {
        width: 3.1in;
    }
}

@media( min-width:350px) and ( max-width: 499px) {
    .main-half {
        width: 3.416in;
    }
}

@media (min-width: 500px) and (max-width: 700px) {
    .main-half {
        width: 3.7in;
    }
}

@media (min-width: 701px) and (max-width: 1900px) {
    .main-half {
        width: 4in;
    }
}



