@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.menu-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-trigger {
    margin-top: 15px;
    width: 330px;
    height: 65px;
    background: #ffffff;
    border-radius: 8px 8px 0px 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(21, 43, 71, 0.1);
    transition: box-shadow 0.4s ease;
}

.menu_trigger_data {
    font-weight: bold;
}

.menu__left__icon {
    background: url('../img/Vector.png') no-repeat;
    width: 25px;
    height: 25px;
    margin: 20px 15px;
}

.menu__right__icon {
    text-align: center;
    line-height: 36px;
    width: 32px;
    height: 32px;
    background: #F2F5F5;
    color: #007480;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 12px;
}

.menu__right__icon:hover {
    background: #dfeef0;
    transition: all 0.3s
}

.FaChevronDown {
    font-size: 14px;
    transition: all .2s ease-in-out;
}

.menu .FaChevronDown {
    transform: rotate(180deg);
}

.menu {
    background: #ffffff;
    border-radius: 0 0 8px 8px;
    /*position: absolute;*/
    top: 85px;
    visibility: hidden;
    transform: translateY(-5px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.activemenu {
    visibility: visible;
    transform: translateY( 0);
}

.menu__items {
    text-decoration: none;
    color: #333333;
    padding: 10px 12px;
    display: block;
}

.menu__items span {
    color: #656F70;
    font-size: 14px;
}

.menu__items p {
    margin-top: 5px;
}

.result {
    color: #0C955D;
}

.btn__download {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 306px;
    height: 36px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    background: #FEDD2C;
    color: #13161B;
    cursor: pointer;
    text-decoration: none;
}

.btn__download:hover {
    background-color: #f5c400;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.donwload__icon {
    background: url('../img/download.png') no-repeat;
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.main-half {
    position: relative;
}

/* Acordeon styles */
.tab {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    color: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgb(21 43 71 / 10%);
    border-radius: 8px;
    /*transition: all 0.3s ease-out;*/
}

.tab input {
    position: absolute;
    z-index: -1;
    /*transition: all 0.3s ease-out;*/
}

.tab label {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 8px;
    color: black;
    padding: 20px 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.icon-left {
    margin-right: 15px;
}

.icon-right {
    margin-left: auto;
    border-radius: 50px;
    background-color: #F2F5F5;
    color: #007480;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.angel {
    transform: rotate(180deg);
}


.tab-content {
    max-height: 0;
    overflow: hidden;
    color: black;
}

.tab-content-items {
    text-align: start;
    padding: 10px 15px;
}

.tab-content-items span {
    font-size: 14px;
    color: #656F70;
}

.result {
    margin-top: 5px;
    color: #0C955D;
}

.analise {
    margin-top: 5px;
}

.tab-content-btn {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}


/* :checked */
.tab input:checked ~ .tab-content {
    max-height: 100vh;
    border-top: 1px solid #E8EDED;
}


/* Icon */
.tab label::after {
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 7px;*/
    /*display: block;*/
    /*width: 3em;*/
    /*height: 3em;*/
    /*line-height: 3;*/
    /*text-align: center;*/
    /*-webkit-transition: all .35s;*/
    /*-o-transition: all .35s;*/
    /*transition: all .35s;*/
}

.tab input[type=checkbox] + label::after {
    /*content: "+";*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 13px;*/
    /*display: block;*/
    /*width: 32px;*/
    /*height: 32px;*/
    /*line-height: 2;*/
    /*border-radius: 50px;*/
    /*background-color: #ccc;*/
    /*text-align: center;*/
    /*-webkit-transition: all .35s;*/
    /*-o-transition: all .35s;*/
    /*transition: all .35s;*/
}

/*.tab input[type=radio] + label::after {*/
/*    content: "\25BC";*/
/*}*/

.tab input[type=checkbox]:checked + angel {
    transform: rotate(315deg);
}

/*.tab input[type=radio]:checked + label + .angel {*/
/*    transform: rotateX(180deg);*/
/*}*/
