@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.text {
    font-family: 'Open Sans', sans-serif;
}

.text-dec {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ant-btn {
    align-items: center;
    background-color: #e9f4f5;
    border-color: #e9f4f5;
    border-radius: 12px;
    display: inline-flex;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 1.5;
    padding: 0 32px;
    letter-spacing: 0.1px;
    margin-top: 50px;
    width: 170px;
}


.ant-btn:hover {
    text-align: center;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    user-select: none;
    white-space: nowrap;
    touch-action: manipulation;
    background: #dfeef0;
    border-color: #d4d6d6;
}

.ant-btn, .ant-btn:active, .ant-btn:focus {
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    color: #1b1d1d;
}

.btn-primary {
    color: #1b1d1d;
    background-color: #ffcc00;

}

.btn-primary:hover {
    background-color: #f5c400;
}